<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <!-- 编码 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 移动端页面适应:width - viewport的宽度
                    height - viewport的高度
                    initial-scale - 初始的缩放比例
                    minimum-scale - 允许用户缩放到的最小比例
                    maximum-scale - 允许用户缩放到的最大比例
                    user-scalable - 用户是否可以手动缩放  -->
    <!-- 上述3个meta标签必须放在最前面，任何其他内容都必须跟随其后！ Bootstrap3格式 -->

    <title>超级码力- 博客后台管理系统</title>

    <!-- css -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- js -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function check(){
            var contentMsg = document.getElementById("contentMsg");

            var content = document.getElementById("content");
            var isPass = true;

            var length = content.value.length;
            if(length<1 || length>100){
//					alert("用户名长度必须是3-6位");
                contentMsg.innerText= "内容长度必须在1-100位";
                isPass = false;
            }else{
                contentMsg.innerText= "";
            }
            return isPass;
        }
        //onblur失去焦点的时候调用
        function checkContent(username){
            var contentMsg = document.getElementById("contentMsg");

            var length = username.value.length;
            if(length<1 || length>100){
                contentMsg.innerText= "内容长度必须在1-100位";
            }else{
                contentMsg.innerText= "";
            }
        }
    </script>
</head>

<body>
<section class="container-fluid">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">超级码力- 博客后台管理系统</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${identity}"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="/logout" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="row">
        <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/index">概况</a></li>
                <li><a href="/articles">文章</a></li>
                <li><a href="/category">文章分类</a></li>
                <li><a href="/user">用户</a></li>
                <li class="active"><a href="/line">时光轴</a></li>
                <li><a href="/information">个人信息</a></li>
                <li><a href="/setting">设置</a></li>
            </ul>
        </aside>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
            <h3>时光轴</h3>
            <div style="padding: 10px; height: 600px;width: 100%;background-color: white; margin-bottom: 20px; overflow:auto;">
                <h4>网站公告</h4>
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-list"></span>时间</th>
                                <th class="hidden-sm"><span class="glyphicon glyphicon-comment"></span>公告</th>
                                <th><span class="glyphicon glyphicon-list"></span>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="timeline:${timelines}">
                                <td th:text="${timeline.getTime()}"></td>
                                <td th:text="${timeline.getContent()}"></td>
                                <td><a th:href="@{'/line_delete/'+${timeline.getId()}}">删除</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>添加</h3>
                    <form action="/line_add" method="post" onsubmit="return check()">
                        <div class="form-group">
                            <input type="text" class="form-control" id="content" name="content" onblur="checkContent(this)" placeholder="添加内容">
                        </div>
                        <p><font color="red" id="contentMsg"></font></p>
                        <input type="submit" class="btn btn-default" value="提 交">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- jQuery  -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>